<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
    {{>navbar}}
    <!----main header----->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12  mx-auto">
                <div class ="row">
                    <!-- Left side div -->
                <div class="col-md-6 col-12 main_header_left">
                    <figure>
                        <img src = "images/about.jpg" alt = "ooops some error occured maybe try throwing your computer in washing machine" class = "img-fluid" title="Ace Weather">
                    </figure>
                     </div>  
                    <!-- Right side div -->
                <div class="col-md-6 col-12 main_header_right align-items-center">
                     <h1>I am a full stack web  developer </h1>
                    <a href="https://github.com/ayush-singh7/"><button>About Ace and MY projects </button></a>
               
                </div>

            </div>
        </div>
    </div>
<footer>
    <p>
        Created By Ace With Love❤❤
    </p>
</footer>
</body>
</html>